body {
  background-color: black;
  color: white;
  text-align: center;
}

#canvas {
  margin-left: auto;
  /* border: 3px solid silver; */
  box-shadow: 0 0 100px gray;
}

#dart {
  visibility: hidden;
  background-color: transparent;
  color: transparent;
  text-shadow: 0 0 0 white;
  border:1px solid transparent;    
  height:50px;
  width:50px;
  border-radius:50%;
  -moz-border-radius:50%;
  -webkit-border-radius:50%;

  user-select: none;

  position: absolute;
  left: -25px;
  top: -25px;
  z-index: 1;
}

.start-btn {
  color: white;
  background-color: black;
  margin: 20px;
}