body {
  background-color: black;
  color: white;
  text-align: center;

  overflow: hidden;
  user-select: none;

}

#top {
    position: absolute;
    left: 26%;
    top: 0;
    height: 700px;
    z-index: 100;
    background-color: black;
    box-shadow: 0 0 20px gray;
}

#canvas {
  margin-left: auto;
  /* border: 3px solid silver; */
  box-shadow: 0 0 100px gray;
}

.dart {
  visibility: hidden;
  background-color: transparent;
  color: transparent;
  text-shadow: 0 0 0 white;
  border:1px solid transparent;    
  height:50px;
  width:50px;
  border-radius:50%;
  -moz-border-radius:50%;
  -webkit-border-radius:50%;

  user-select: none;

  position: absolute;
  z-index: 1;
}

.start-btn {
  color: white;
  margin: 20px;
  padding: 10px;
  font-weight: 600;
}

.rules-btn {
  color: white;
  margin: 50px;
  opacity: 50%;
}

#volume {
  height: 20px;
  width: 300px;
  margin: 10px auto 30px auto;
}
.bar {
  width: 100%;
  height: 100%;
  background-color: rgb(50,50,50);
  border: 2px solid white;
}
.fill {
    background-color: white;
    height: 100%;
    width: 0%;
    z-index: 2;
}

.rectangle{
  width:40px;
  height:40px;
  border-radius: 50%;
  background-color: transparent;
  z-index: 10;
  border: 2px solid red;
}