body {
  background-color: black;
  color: white;
  text-align: center;
}

#canvas {
  margin-left: auto;
  /* border: 3px solid silver; */
  box-shadow: 0 0 100px gray;
}

#dart {
  visibility: hidden;
  background-color: transparent;
  border:1px solid white;    
  height:20px;
  width:20px;
  border-radius:50%;
  -moz-border-radius:50%;
  -webkit-border-radius:50%;
  position: absolute;
  z-index: 1;
}

.start-btn {
  color: white;
  background-color: black;
  margin: 20px;
}